.form-add-user {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(245, 237, 212, 0.315);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.404);

  h2 {
    margin-top: 0;
    text-align: center;
  }

  input {
    width: 100%;
    margin-bottom: 5px;
  }

  button {
    align-self: start;
  }
}

@media (min-width: 768px) {
  .form-add-user {
    max-width: 30%;
    margin-right: 20px;
  }
}